<div class="container">
  <div class="row">
    <div class="col-md-4 offset-4">

<h1>編集</h1>
<%= form_with model: @post do |f| %>

  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>タイトル</h4>
  <%= f.text_field :shop_name,class:"form-control"  %>
  <h4>説明</h4>
  <%= f.text_area :caption,class:"form-control"  %>
  <%= f.submit '更新' ,class:"btn btn-success" %>
<% end %>

    </div>
  </div>
</div>